
@using Parcial1.Poullion.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cosmo </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">
            <header>
                <h1> ¿Hay vida en otros planetas?  Sistemas solares</h1>
            </header>
            <section>
                <article>
                    @RenderBody()

                </article>

            </section>

            <aside>

                <article>
                    <div>
                        <h3> Contenido Relacionado</h3>
                    </div>
                    <label for="Siglo">Siglo</label> <br />
                    <input id="Siglo" name="Siglo" type="text" value="" />
                    <br />
                    <label for="Nombre">Nombre</label><br />
                    <input id="Nombre" name="Nombre" type="text" value="" />
                    <br />

                    <div>
                        <input type="submit" value="Create" onclick="fnGrabar()" /> 
                    </div>

                    <ul>
                        @foreach (var item in GestorConstelacion.GetConstelaciones())
                        {
                            <li> Siglo: @item.Siglo - Nombre: @item.Nombre </li>

                        }
                    </ul>

                </article>

            </aside>
            <footer>
                <p> ¿Hay vida en otros planetas? - @DateTime.Now.Year </p>
            </footer>

        </div>

        @RenderSection("scripts", required:false)


    </div>




</body>
</html>